<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace = "com.teampj.test.persistence.PatientDAO">

	<select id="getMyPageContents" resultType="com.teampj.test.vo.PatientVO">
	
		SELECT patientID, patientPW, jumin1, jumin2, address1, address2, address3, gender, patientName, tel, email, age
		  FROM patient_tbl WHERE patientID = #{id}
	
	</select>
	
	<select id="getPwd" resultType="String">
	
		SELECT patientPW FROM patient_tbl WHERE patientID = #{id}
	
	</select>
	
	<update id="updatePwd" parameterType="java.util.Map">
	
		UPDATE patient_tbl SET patientPW = #{patientPW} WHERE patientID = #{patientID}
	
	</update>

	<update id="updateAddr" parameterType="java.util.Map">
	
		UPDATE patient_tbl SET address1 = #{address1}, address2 = #{address2}, address3 = #{address3} WHERE patientID = #{patientID}
	
	</update>
	
	<update id="updateInfo" parameterType="java.util.Map">
	
		UPDATE patient_tbl SET tel = #{tel} WHERE patientID = #{patientID}
	
	</update>
	
</mapper>  